<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
    <header>
        <h1>
            <%= __('Bienvenid@s a {{title}}', {title}) %>
        </h1>
        <div class="languages">
            <% getLocales().forEach( locale=> { %>
                <a href='/change-locale/<%= locale %>' class='change-language'>
                    <%= locale %>
                </a>
                <% }) %>
        </div>

    </header>