<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/index.css' />


</head>

<body>
    <header>
        <a class='title-app' href='/'>
            <%= title %>
        </a>
        <div class="languages">
            <% getLocales().forEach( locale=> { %>
                <a href='/change-locale/<%= locale %>' class='change-language'>
                    <%= locale %>
                </a>
                <% }) %>
        </div>
        <ul class='menu-options'>
            <% if (!session.userLogged) { %>
                <li class='menu-item'>
                    <a class='menu-link' href="/login">
                        <%= __('Login') %>
                    </a>
                </li>
                <% } else {%>
                    <li class='menu-item'>
                        <a class='menu-link' href="/logout">
                            <%= __('Logout') %>
                        </a>
                    </li>
                    <li class='menu-item'>
                        <a class='menu-link' href="/private">
                            <%= __('Profile') %>
                        </a>
                    </li>
                    <% } %>
        </ul>

    </header>