<% include header.html %>

  <main>
    <h1>
      <%= __('Bienvenid@s a {{title}}', {title}) %>
    </h1>
    <h2 class="daysAction">
      <%= __('Que deseas comprar hoy?') %>
    </h2>
    <section>
      <div class="grid-container" id="grid-container">
        <%for (advertisement of advertisements){ %>
          <article class="grid-item">
            <p class="images"><img src="/images/<%= advertisement.image %>"></p>
            <li>
              <h2 class="price">
                <%= advertisement.price %> €
              </h2>
            </li>
            <li>
              <%= advertisement.name %>
            </li>
            <li>
              <%= advertisement.sale %>
            </li>
            <li>
              <%= advertisement.tags %>
            </li>
          </article>
          <% } %>
      </div>
    </section>
  </main>
  </body>

  <% include footer.html %>