<% include header.html %>

    <main class="form">
        <form method="POST">
            <h1 class="form-title">
                <%= __('¡Inicia sesión!') %>
            </h1>
            <div class="user-form">
                <label for="user" class="user-label">
                    <%= __('Email') %>
                </label>
                <input class="user-input" type="email" name="email" id="email" value=<%=email %> >
            </div>
            <div class="password-form">
                <label for="password" class="password-label">
                    <%= __('Password') %>
                </label>
                <input class="password-input" type="password" name="password" id="password" required>
            </div>
            <div class="error-msg">
                <%= error %>
            </div>
            <button type="submit" class="button">
                <%= __('Entrar') %>
            </button>


        </form>

    </main>

    </body>

    <% include footer.html %>