header {
	background: var(--papaya);
	display: flex;

	position: fixed;
	top: 0;
	left: 0;

	height: var(--header);
	width: 100%;
	height: 100px;
	color: white;
}

.change-language {
	text-decoration: none;
	color: white;

	margin-right: 0;
}

.languages {
	position: absolute;
	top: 20px;
	right: 60px;
}

.title-app {
	font-size: 3rem;
	margin-top: 1.5rem;
}

.menu-item {
	position: absolute;
	top: 60px;
	right: 50px;
}

.menu-link {
	font-size: 1.5rem;
	padding: 0.5rem;
}
.menu-link:hover {
	background-color: white;
	color: var(--papaya);
	border-radius: 2px;
}
