.register-form {
	display: grid;
	max-width: 60%;
	height: 90%;
	background-color: white;
	margin: auto;
	overflow: hidden;

	border-radius: 1rem;
	border: 0.5rem solid var(--shadow-color);
}

.form-title {
	color: var(--pink-color);
	text-align: center;
	padding-top: 1rem;
}

label,
input[name='email'],
input[name='password'],
input[type='submit'],
.formulario > p {
	font-family: textElements;
	border: 0;
	outline: none;
}

label {
	display: block;
	font-size: 1.2rem;
	padding: 1rem 0 0.2rem 0.5rem;
	color: var(--grey-color);
}

input[name='email'],
input[name='password'] {
	margin: auto;
	display: block;
	width: 90%;
	padding: 0.5rem 0.5rem;
	background: var(--pink-color);
	opacity: 0.6;
	color: white;
	border-bottom: solid 0.1rem var(--blue-color);
}

input[type='submit'] {
	display: block;
	margin: auto;
	padding: 0.5rem 3rem;
	border-radius: 10px;
	background: var(--orange-color);
	font-family: titulos;
}

.formulario > p {
	text-align: center;
}

.formulario > p > a {
	font-size: 0.8rem;
}
