.register-form {
	display: grid;
	max-width: 70%;
	height: 90%;
	background-color: white;
	margin: auto;
	overflow: hidden;

	border-radius: 1rem;
}

.form-title {
	color: white;
	text-align: center;
	padding-top: 1rem;
}

label,
input[name='email'],
input[name='password'],
input[type='submit'],
.formulario > p {
	font-family: textElements;
	border: 0;
	outline: none;
}

label {
	display: block;
	font-size: 1.2rem;
	padding: 1rem 0 0.2rem 0.5rem;
	color: white;
}

input[name='email'],
input[name='password'] {
	margin: auto;
	display: block;
	width: 90%;
	padding: 0.5rem 0.5rem;
	background: white;
	opacity: 0.6;
	color: var(--papaya);
}

input[type='submit'] {
	display: block;
	margin: auto;
	padding: 0.5rem 3rem;
	border-radius: 10px;
}

.formulario > p {
	text-align: center;
}

.formulario > p > a {
	font-size: 0.8rem;
}

.button {
	display: block;
	margin: auto;
	font-size: 1rem;
	margin-top: 2rem;
	font-size: 1.5rem;
	color: white;
	background-color: var(--papaya);
	padding: 0.5rem;
	border-radius: 10px;
}
